
li a:hover{
  color: white !important;
  text-decoration:underline red;
}
li a{
  font-family: Courier New, serif;
  font-size: 1.2em;
  font-weight: bold;
}
.dropdown-menu :hover{
  background: red;
}.dropdown-menu {
  background: #04694e;
}
.nav-item a{
  color: white;
}
.list-group a{
  border: 0px !important;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  font-family: Courier New, serif;
}
