<div>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a style="font-family: Courier New; margin: 0 20px;font-size: 1.4em; color: antiquewhite; font-weight: bold;" class="navbar-brand" href="#">Parallax Resort</a>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a  style="margin-left: 20px" class="nav-link" href="#">Trang Chủ</a>
      </li>
      <li style="margin-left: 20px" class="nav-item">
        <a class="nav-link" href="#">Liên Hệ</a>
      </li>
      <li style="margin-left: 20px" class="nav-item">
        <a class="nav-link" href="#">Giới Thiệu</a>
      </li>
      <!-- Dropdown -->
      <li style="margin-left: 20px" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Chi Nhánh
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Hà Nội</a>
          <a class="dropdown-item" href="#">Đà Nẵng</a>
          <a class="dropdown-item" href="#">Tp HCM</a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="row px-0 mx-0" style="height: 90%" >
    <div class="col-2 px-0" >
      <div class="list-group border border-dark rounded h-100">
        <a href="#" class="list-group-item list-group-item-action active ">Home</a>
        <a [routerLink]="['/listNV']" class="list-group-item list-group-item-action">Nhân Viên</a>
        <a [routerLink]="['/listKH']" class="list-group-item list-group-item-action">Khách Hàng</a>
        <a [routerLink]="['/themHD']" class="list-group-item list-group-item-action ">Hợp Đồng</a>
        <a [routerLink]="['/themHDCT']" class="list-group-item list-group-item-action">Hợp Đông Chi Tiết</a>
        <a [routerLink]="['/themDV']" class="list-group-item list-group-item-action">Dịch Vụ</a>
        <a href="#" class="list-group-item list-group-item-action">Khác</a>
      </div>
    </div>
    <div class="col-10 p-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
